body {
	
}
	
#contents {
	margin: auto;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
}

h1 { 

}

A:link {

}

A:hover {

}

a:visited {

}

#headblock address { 

}
 
 #home, #page2 {

 }
 
 h3 {

}
 
 img {
width: 300px;
}

img.left {

}

#footer {

}

#clearer {

}
