body {
	    background-color: #DCCFC6;
}
	
#contents {
	margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
	    background-color: ##BEA785;
}

h1 { 

}

A:link {

}

A:hover {

}

a:visited {

}

#headblock address { 

}
 
 #home, #page2 {
background-color: #927E5D;
 }
 
 h3 {

}
 
 img {
width: 300px;
}

img.left {

}

#footer {

}

#clearer {

}
