body {
	    background-color: #DCCFC6;
}
	
#contents {
	margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
	    background-color: #BEA785;
	color: bisque;
}

h1 { 

}

A:link {

}

A:hover {

}

a:visited {

}

#headblock address { 

}
 
 #home, #page2 {
background-color: #927E5D;
	 padding-left: 40px;
	 padding-right: 40px;
	 padding-top: 40px;
	 margin: 10px;
	 padding-bottom: 205px;
	 
 }
 
 h3 {

}
 
 img {
width: 300px;
	 float: right;
}

img.left {
 float: left;
	padding: 10px;
}

#footer {

}

#clearer {

}
