body {
	    background-color: #DCCFC6;
}
	
#contents {
	margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
	    background-color: #BEA785;
	color: bisque;
	font-family: 'Bitter', serif;
	padding: 15px;
	border-radius: 20px;
	background:url(https://s-media-cache-ak0.pinimg.com/736x/37/47/fd/3747fd5c6ef8ab4f1d11c4a5efc5a93a--orange-zest-orange-color.jpg)
}

h1 { 

}

A:link {
text-declaration: none;
}

A:hover {
color: pink;
}

a:visited {
color: purple;
}

#headblock address { 

}
 
 #home, #page2 {
background-color: #DD8666;
	 padding-left: 40px;
	 padding-right: 40px;
	 padding-top: 40px;
	 margin: 10px;
	 padding-bottom: 40px;
	 
 }
 
 h3 {

}
 
 img {
width: 100%;
	 float: right;
}

img.left {
 float: left;
	padding: 10px;
}

#footer {
margin-left: auto;
	margin-right: auto;
	padding-bottom: 20px;
}

#clearer {
clear:both;
	
}
jdshaf [1:46 PM] 
.topnav {
  overflow: hidden;
    background: rgba(0,0,0,.75);
    border-radius: 10px;
    margin-top: 10px;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2 ;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav .icon {
  display: none;
}


@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: left;
    display: block;
  }
}

 .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
